# config
runtime_config/config.json
runtime_config/falcon.conf

# config file with user directory
mzn_cmake_config.h
falcon_dirs.conf

# falcon data directory
*website_data/

# binary and build directories
*bin/
*build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# swap files
*.swp
*.swo

# temp files
*.tmp

# pdf
*.pdf

# latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz


# mac
*.DS_Store

# eclipse
.cproject
.project
/Debug*
.settings
